<h1 style="color: white">Album</h1>

<div>
  <div class="mt-1 d-flex flex-wrap">
    <div class="m-3">
      <div class="card" style="width: 12rem; padding: 10px;background: #363434">
        <img style=" width: 170px;height: 145px;" src="/assets/img/min.jpg" class="card-img-top" alt="...">
        <div class="">
          <p class="card-text ml-2 mt-2" style="color: white;font-size: 18px;font-family: cursive">Vì yêu cứ đâm đầu</p>
        </div>
        <div class="mt-2">
          <span class="ml-2" style="color: white; font-size: 13px">MIN</span>
        </div>
      </div>
    </div>
    <div class="m-3">
      <div class="card" style="width: 12rem; padding: 10px;background: #363434">
        <img style=" width: 170px;height: 145px;" src="/assets/img/min.jpg" class="card-img-top" alt="...">
        <div class="">
          <p class="card-text ml-2 mt-2" style="color: white;font-size: 18px;font-family: cursive">Vì yêu cứ đâm đầu</p>
        </div>
        <div class="mt-2">
          <span class="ml-2" style="color: white; font-size: 13px">MIN</span>
        </div>
      </div>
    </div>
    <div class="m-3">
      <div class="card" style="width: 12rem; padding: 10px;background: #363434">
        <img style=" width: 170px;height: 145px;" src="/assets/img/min.jpg" class="card-img-top" alt="...">
        <div class="">
          <p class="card-text ml-2 mt-2" style="color: white;font-size: 18px;font-family: cursive">Vì yêu cứ đâm đầu</p>
        </div>
        <div class="mt-2">
          <span class="ml-2" style="color: white; font-size: 13px">MIN</span>
        </div>
      </div>
    </div>
    <div class="m-3">
      <div class="card" style="width: 12rem; padding: 10px;background: #363434">
        <img style=" width: 170px;height: 145px;" src="/assets/img/min.jpg" class="card-img-top" alt="...">
        <div class="">
          <p class="card-text ml-2 mt-2" style="color: white;font-size: 18px;font-family: cursive">Vì yêu cứ đâm đầu</p>
        </div>
        <div class="mt-2">
          <span class="ml-2" style="color: white; font-size: 13px">MIN</span>
        </div>
      </div>
    </div>
    <div class="m-3">
      <div class="card" style="width: 12rem; padding: 10px;background: #363434">
        <img style=" width: 170px;height: 145px;" src="/assets/img/min.jpg" class="card-img-top" alt="...">
        <div class="">
          <p class="card-text ml-2 mt-2" style="color: white;font-size: 18px;font-family: cursive">Vì yêu cứ đâm đầu</p>
        </div>
        <div class="mt-2">
          <span class="ml-2" style="color: white; font-size: 13px">MIN</span>
        </div>
      </div>
    </div>
    <div class="m-3">
      <div class="card" style="width: 12rem; padding: 10px;background: #363434">
        <img style=" width: 170px;height: 145px;" src="/assets/img/min.jpg" class="card-img-top" alt="...">
        <div class="">
          <p class="card-text ml-2 mt-2" style="color: white;font-size: 18px;font-family: cursive">Vì yêu cứ đâm đầu</p>
        </div>
        <div class="mt-2">
          <span class="ml-2" style="color: white; font-size: 13px">MIN</span>
        </div>
      </div>
    </div>
    <div class="m-3">
      <div class="card" style="width: 12rem; padding: 10px;background: #363434">
        <img style=" width: 170px;height: 145px;" src="/assets/img/min.jpg" class="card-img-top" alt="...">
        <div class="">
          <p class="card-text ml-2 mt-2" style="color: white;font-size: 18px;font-family: cursive">Vì yêu cứ đâm đầu</p>
        </div>
        <div class="mt-2">
          <span class="ml-2" style="color: white; font-size: 13px">MIN</span>
        </div>
      </div>
    </div>
    <div class="m-3">
      <div class="card" style="width: 12rem; padding: 10px;background: #363434">
        <img style=" width: 170px;height: 145px;" src="/assets/img/min.jpg" class="card-img-top" alt="...">
        <div class="">
          <p class="card-text ml-2 mt-2" style="color: white;font-size: 18px;font-family: cursive">Vì yêu cứ đâm đầu</p>
        </div>
        <div class="mt-2">
          <span class="ml-2" style="color: white; font-size: 13px">MIN</span>
        </div>
      </div>
    </div>
    <div class="m-3">
      <div class="card" style="width: 12rem; padding: 10px;background: #363434">
        <img style=" width: 170px;height: 145px;" src="/assets/img/min.jpg" class="card-img-top" alt="...">
        <div class="">
          <p class="card-text ml-2 mt-2" style="color: white;font-size: 18px;font-family: cursive">Vì yêu cứ đâm đầu</p>
        </div>
        <div class="mt-2">
          <span class="ml-2" style="color: white; font-size: 13px">MIN</span>
        </div>
      </div>
    </div>
    <div class="m-3">
      <div class="card" style="width: 12rem; padding: 10px;background: #363434">
        <img style=" width: 170px;height: 145px;" src="/assets/img/min.jpg" class="card-img-top" alt="...">
        <div class="">
          <p class="card-text ml-2 mt-2" style="color: white;font-size: 18px;font-family: cursive">Vì yêu cứ đâm đầu</p>
        </div>
        <div class="mt-2">
          <span class="ml-2" style="color: white; font-size: 13px">MIN</span>
        </div>
      </div>
    </div>
    <div class="m-3">
      <div class="card" style="width: 12rem; padding: 10px;background: #363434">
        <img style=" width: 170px;height: 145px;" src="/assets/img/min.jpg" class="card-img-top" alt="...">
        <div class="">
          <p class="card-text ml-2 mt-2" style="color: white;font-size: 18px;font-family: cursive">Vì yêu cứ đâm đầu</p>
        </div>
        <div class="mt-2">
          <span class="ml-2" style="color: white; font-size: 13px">MIN</span>
        </div>
      </div>
    </div>
    <div class="m-3">
      <div class="card" style="width: 12rem; padding: 10px;background: #363434">
        <img style=" width: 170px;height: 145px;" src="/assets/img/min.jpg" class="card-img-top" alt="...">
        <div class="">
          <p class="card-text ml-2 mt-2" style="color: white;font-size: 18px;font-family: cursive">Vì yêu cứ đâm đầu</p>
        </div>
        <div class="mt-2">
          <span class="ml-2" style="color: white; font-size: 13px">MIN</span>
        </div>
      </div>
    </div>
    <div class="m-3">
      <div class="card" style="width: 12rem; padding: 10px;background: #363434">
        <img style=" width: 170px;height: 145px;" src="/assets/img/min.jpg" class="card-img-top" alt="...">
        <div class="">
          <p class="card-text ml-2 mt-2" style="color: white;font-size: 18px;font-family: cursive">Vì yêu cứ đâm đầu</p>
        </div>
        <div class="mt-2">
          <span class="ml-2" style="color: white; font-size: 13px">MIN</span>
        </div>
      </div>
    </div>
    <div class="m-3">
      <div class="card" style="width: 12rem; padding: 10px;background: #363434">
        <img style=" width: 170px;height: 145px;" src="/assets/img/min.jpg" class="card-img-top" alt="...">
        <div class="">
          <p class="card-text ml-2 mt-2" style="color: white;font-size: 18px;font-family: cursive">Vì yêu cứ đâm đầu</p>
        </div>
        <div class="mt-2">
          <span class="ml-2" style="color: white; font-size: 13px">MIN</span>
        </div>
      </div>
    </div>

  </div>
</div>

